<h1>New Excel-To-Json Conversion</h1>

<% if flash[:alert] %>
<p style="color:red;">
  <%= flash[:alert] %><br />
</p>
<% end %>

<%= form_for @excel, url: {action: :create} do |form| %>
  Filt to Upload: <%= form.file_field :excel_file %>
  <%= form.submit %>
<% end %>
